/* @version 1.0.2 */
/**************************************
 * Small Only - affects resolution of 639px and smaller
 *************************************/
@media screen and (max-width: 39.9375em) {
      li>ol,li>ul {margin:0;padding:0;}
      .no-js .top-bar {display:none;}
      .no-js .title-bar {display:flex;}
      .cs .rts,.cs .content-area,.sc .lfts,.sc .content-area,.ssc .lfts,.ssc .rts,.ssc .content-area,.css .lfts,.css .rts,.css 
      .content-area,.scs .lfts,.scs .rts,.scs .content-area,.ns .lfts,.ns .rts,.ns .content-area {width:100%!important;}
      /* content | sidebar */
      .cs .rts {padding:0;order:2;}
      .cs .content-area {padding:0;order:1;}
      /* sidebar | content */
      .sc .lfts {padding:0;order:2;}
      .sc .content-area {padding: 0;order:1;}
      /* content | sidebar | sidebar */
      .css .lfts {padding:0;order:2;}
      .css .rts {padding:0;order:3;}
      .css .content-area {padding: 0;order:1;}
      /* sidebar | sidebar | content */
      .ssc .lfts {padding:0;order:3;}
      .ssc .rts {padding:0;order:2;}
      .ssc .content-area {padding: 0;order:1;}
      /* sidebar | content | sidebar */
      .scs .lfts {padding:0;order:3;}
      .scs .rts {padding:0;order:2;}
      .scs .content-area {padding: 0;order:1;}
      /* no sidebars | full width */
      .ns .lfts {display:none;}
      .ns .rts {display:none;}
      .ns .content-area {padding: 0;order:1;}
      .brand-text {margin-bottom: 16px;}
      .header-sidebar .menu > li > a {line-height: normal;padding: 0 14.5px 0 0;}
      .inside-top-sidebar {text-align: center!important;}
      .site-branding {text-align: center!important;}
      .header-sidebar {text-align: center!important;}
      .main-navigation .menu > li > a {padding: 15px;}
      .top-bar,.top-bar ul,.is-dropdown-submenu {background-color: #222222;}
      .submenu-toggle {top: 7px;}
      .one-container .author-info,.one-container .rts,.one-container .lfts {padding:30px;}
      .one-container .site-content.grid-container {padding: 30px 0;}
      .one-container .inside-article, .one-container .inside-comments {padding: 0 30px}
      .comment-content {padding: 10px 10px 0;}
      .comment-navigation > .nav-previous a,.comment-navigation > .nav-next a {font-size: 14px}
      #comments textarea {margin-bottom: 30px;}
      .one-container .inside-article {padding:0 30px;}
      div.author-info h1.page-title {font-size:35px;}
      .site-content.grid-container {padding: 0 0 30px;}
      .widget:last-child {margin-bottom: 0;}
      #comments p.comment-form-author.columns,#comments p.comment-form-email.columns {padding: 0;}
      .comment .children {padding-left: 15px;}
      .fw_one.cell,.fw_two.cell,.fw_three.cell,.fw_four.cell,.fw_five.cell {padding:0;}
      .inside-footer-sidebar {text-align: center;}
      .site-info {margin-bottom: 25px;text-align: center}
      .back-to-top {bottom:8px;right:8px;}
}

 /**************************************
 * Medium Only - from 640px up to a max resolution of 1023px
 *************************************/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
      li>ol,li>ul {margin:0;padding:0;}
      .no-js .top-bar {display:none;}
      .no-js .title-bar {display:flex;}
      .cs .rts,.cs .content-area,.sc .lfts,.sc .content-area,.ssc .lfts,.ssc .rts,.ssc .content-area,.css .lfts,.css .rts,.css 
      .content-area,.scs .lfts,.scs .rts,.scs .content-area,.ns .lfts,.ns .rts,.ns .content-area {width:100%!important;}
      /* content | sidebar */
      .cs .rts {padding:30px;order:2;}
      .cs .content-area {padding:0 0 30px;order:1;}
      /* sidebar | content */
      .sc .lfts {padding:0;order:2;}
      .sc .content-area {padding: 0;order:1;}
      /* content | sidebar | sidebar */
      .css .lfts {padding:0;order:2;}
      .css .rts {padding:0;order:3;}
      .css .content-area {padding: 0;order:1;}
      /* sidebar | sidebar | content */
      .ssc .lfts {padding:0;order:3;}
      .ssc .rts {padding:0;order:2;}
      .ssc .content-area {padding: 0;order:1;}
      /* sidebar | content | sidebar */
      .scs .lfts {padding:0;order:3;}
      .scs .rts {padding:0;order:2;}
      .scs .content-area {padding: 0;order:1;}
      /* no sidebars | full width */
      .ns .lfts {display:none;}
      .ns .rts {display:none;}
      .ns .content-area {padding: 0;order:1;}
      .inside-top-sidebar {text-align: center!important;}
      .site-branding {text-align: center!important;}
      .header-sidebar {text-align: center!important;}
      .fw_one.cell,.fw_two.cell,.fw_three.cell,.fw_four.cell,.fw_five.cell {padding-left:0;padding-right:0;}
      .inside-footer-sidebar {text-align: center;}
      .site-info {margin-bottom: 25px;text-align: center}
      .back-to-top {bottom:8px;right:8px;}
}

/**************************************
 * Medium and Up - from 640px and up
 *************************************/
@media screen and (min-width: 40em) {}

/**************************************
 * Large Only - from 1024px and up to a max resolution of 1199px
 *************************************/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/**************************************
 * Large and Up - from 1200px and up
 *************************************/
@media screen and (min-width: 64em) {}